In [1]:
api_key = "jiaHs9nkNEzJMjNC6XtICaQMx1reQqRQapYn3LsoJeRkWpZAFwuIrSoZuDmH9O9g"
secret_key = "w7z2c13PpmK4e7Y7eiwg81dCB83BHuO2bZEQNq65EQB5ByHFPABEPSamwtdxYNj2"

In [2]:
import pandas as pd #import pandas
from binance.client import Client

In [3]:
client = Client(api_key = api_key, api_secret = secret_key, tld = "com")

In [4]:
timestamp =  client._get_earliest_valid_timestamp(symbol = "BTCUSDT", interval = "1d")

# Getting historical price data (ohlc and volume) verion 2

In [8]:
def get_history(symbol, interval, start, end = None):
    bars = client.get_historical_klines(symbol = symbol, interval = interval, start_str = start, end_str = end, limit = 1000)
    df = pd.DataFrame(bars)
    df["Date"] = pd.to_datetime(df.iloc[:,0], unit = "ms")
    df.columns = ["Open Time", "Open", "High", "Low", "Close", "Volume", "Clos time", "Quote Asset Volume", "Number of Trades", "Taker Buy Base Asset Volume", "Taker Buy Quote Asset Volume", "Ignore", "Date"]
    df = df[["Date", "Open", "High", "Low", "Close", "Volume"]].copy()
    df.set_index("Date", inplace =True)
    for column in df.columns:
        df[column] = pd.to_numeric(df[column], errors = "coerce")
    return df

In [9]:
timestamp

1502928000000

In [11]:
df = get_history(symbol = "BTCUSDT", interval = "1d", start = timestamp)
df
# the last cabdle is incomplete

                Open      High       Low     Close        Volume
Date
2017-08-17   4261.48   4485.39   4200.74   4285.08    795.150377
2017-08-18   4285.08   4371.52   3938.77   4108.37   1199.888264
2017-08-19   4108.37   4184.69   3850.00   4139.98    381.309763
2017-08-20   4120.98   4211.08   4032.62   4086.29    467.083022
2017-08-21   4069.13   4119.62   3911.79   4016.00    691.743060
...              ...       ...       ...       ...           ...
2022-01-29  37716.57  38720.74  37268.44  38166.84  26129.496820
2022-01-30  38166.83  38359.26  37351.63  37881.76  21430.665270
2022-01-31  37881.75  38744.00  36632.61  38466.90  36855.245800
2022-02-01  38466.90  39265.20  38000.00  38694.59  34574.446630
2022-02-02  38694.59  38855.92  38300.00  38522.47   5671.491830

[1631 rows x 5 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1631 entries, 2017-08-17 to 2022-02-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1631 non-null   float64
 1   High    1631 non-null   float64
 2   Low     1631 non-null   float64
 3   Close   1631 non-null   float64
 4   Volume  1631 non-null   float64
dtypes: float64(5)
memory usage: 76.5 KB

# Daily date for specified time period

In [13]:
df = get_history(symbol = "BTCUSDT", interval = "1d", start = "2022-01-01", end = "2022-02-02")
df

                Open      High       Low     Close        Volume
Date
2022-01-01  46216.93  47954.63  46208.37  47722.65  19604.463250
2022-01-02  47722.66  47990.00  46654.00  47286.18  18340.460400
2022-01-03  47286.18  47570.00  45696.00  46446.10  27662.077100
2022-01-04  46446.10  47557.54  45500.00  45832.01  35491.413600
2022-01-05  45832.01  47070.00  42500.00  43451.13  51784.118570
2022-01-06  43451.14  43816.00  42430.58  43082.31  38880.373050
2022-01-07  43082.30  43145.83  40610.00  41566.48  54836.508180
2022-01-08  41566.48  42300.00  40501.00  41679.74  32952.731110
2022-01-09  41679.74  42786.70  41200.02  41864.62  22724.394260
2022-01-10  41864.62  42248.50  39650.00  41822.49  50729.170190
2022-01-11  41822.49  43100.00  41268.93  42729.29  37296.437290
2022-01-12  42729.29  44322.00  42450.00  43902.66  33943.292800
2022-01-13  43902.65  44500.00  42311.22  42560.11  34910.877620
2022-01-14  42558.35  43448.78  41725.95  43059.96  32640.882920
2022-01-15  43059.96  43800.00  42555.00  43084.29  21936.056160
2022-01-16  43084.29  43475.00  42581.79  43071.66  20602.352710
2022-01-17  43071.66  43176.18  41540.42  42201.62  27562.086130
2022-01-18  42201.63  42691.00  41250.00  42352.12  29324.082570
2022-01-19  42352.12  42559.13  41138.56  41660.01  31685.721590
2022-01-20  41660.00  43505.00  40553.31  40680.91  42330.339530
2022-01-21  40680.92  41100.00  35440.45  36445.31  88860.891999
2022-01-22  36445.31  36835.22  34008.00  35071.42  90471.338961
2022-01-23  35071.42  36499.00  34601.01  36244.55  44279.523540
2022-01-24  36244.55  37550.00  32917.17  36660.35  91904.753211
2022-01-25  36660.35  37545.14  35701.00  36958.32  49232.401830
2022-01-26  36958.32  38919.98  36234.63  36809.34  69830.160360
2022-01-27  36807.24  37234.47  35507.01  37160.10  53020.879340
2022-01-28  37160.11  38000.00  36155.01  37716.56  42154.269560
2022-01-29  37716.57  38720.74  37268.44  38166.84  26129.496820
2022-01-30  38166.83  38359.26  37351.63  37881.76  21430.665270
2022-01-31  37881.75  38744.00  36632.61  38466.90  36855.245800
2022-02-01  38466.90  39265.20  38000.00  38694.59  34574.446630
2022-02-02  38694.59  38855.92  38300.00  38461.85   5765.021250

In [14]:
df = get_history(symbol = "BTCUSDT", interval = "1w", start = "2022-01-01", end = "2022-02-02")
df

                Open      High       Low     Close         Volume
Date
2022-01-03  47286.18  47570.00  40501.00  41864.62  264331.615870
2022-01-10  41864.62  44500.00  39650.00  43071.66  232059.069690
2022-01-17  43071.66  43505.00  34008.00  36244.55  354513.984320
2022-01-24  36244.55  38919.98  32917.17  37881.76  353702.626391
2022-01-31  37881.75  39265.20  36632.61  38221.22   77681.920720

In [15]:
df = get_history(symbol = "BTCUSDT", interval = "1h", start = "2022-02-01 00:00:00", end = "2022-02-02 23:59:59")
df

                         Open      High       Low     Close      Volume
Date
2022-02-01 00:00:00  38466.90  38627.35  38276.43  38342.36  1058.42599
2022-02-01 01:00:00  38342.37  38407.00  38175.86  38238.19   777.86310
2022-02-01 02:00:00  38238.18  38506.18  38196.61  38480.90   766.83847
2022-02-01 03:00:00  38480.90  38649.90  38384.99  38596.82   946.45649
2022-02-01 04:00:00  38596.82  38644.57  38470.37  38556.82   758.92782
2022-02-01 05:00:00  38556.83  38618.67  38444.26  38452.90   703.01456
2022-02-01 06:00:00  38452.89  38482.91  38240.00  38285.02  1246.89537
2022-02-01 07:00:00  38285.01  38462.69  38281.16  38440.77   708.07030
2022-02-01 08:00:00  38440.76  38624.24  38398.54  38597.53   793.02544
2022-02-01 09:00:00  38597.54  39100.00  38224.41  38256.12  4270.80387
2022-02-01 10:00:00  38256.12  38367.16  38000.00  38253.57  2105.11598
2022-02-01 11:00:00  38255.46  38471.43  38204.79  38425.06  1032.06336
2022-02-01 12:00:00  38425.05  38800.00  38372.00  38650.00  1456.53967
2022-02-01 13:00:00  38650.01  38965.99  38454.00  38872.21  1951.15553
2022-02-01 14:00:00  38872.20  39034.47  38304.52  38509.46  3170.70783
2022-02-01 15:00:00  38509.46  38649.57  38190.42  38630.33  2242.40938
2022-02-01 16:00:00  38630.32  39265.20  38587.96  39110.89  3016.77143
2022-02-01 17:00:00  39110.89  39171.94  38655.35  38867.24  1950.07901
2022-02-01 18:00:00  38868.01  38900.00  38460.20  38533.15  1130.81481
2022-02-01 19:00:00  38533.14  38595.60  38341.06  38378.09  1211.90981
2022-02-01 20:00:00  38378.10  38735.63  38369.00  38512.08  1134.06888
2022-02-01 21:00:00  38512.86  38819.00  38490.00  38785.53   907.43829
2022-02-01 22:00:00  38785.52  38853.23  38532.45  38697.55   629.43065
2022-02-01 23:00:00  38697.56  38889.00  38602.30  38694.59   605.62059
2022-02-02 00:00:00  38694.59  38855.92  38429.03  38557.27  1187.94325
2022-02-02 01:00:00  38557.27  38668.84  38374.78  38439.76  1052.16968
2022-02-02 02:00:00  38439.76  38665.69  38385.19  38622.81   505.64740
2022-02-02 03:00:00  38619.71  38749.99  38544.87  38552.87   555.13134
2022-02-02 04:00:00  38552.87  38555.33  38378.65  38423.44  1141.11423
2022-02-02 05:00:00  38423.44  38519.78  38300.00  38416.38   932.70530
2022-02-02 06:00:00  38416.38  38541.27  38196.42  38273.64   911.16928

# Most recent time

In [16]:
from datetime import datetime, timedelta

In [17]:
now = datetime.utcnow()
now

datetime.datetime(2022, 2, 2, 7, 4, 17, 297586)

In [19]:
two_hours_before = now - timedelta(hours = 2)
two_hours_before

datetime.datetime(2022, 2, 2, 5, 4, 17, 297586)

In [21]:
df = get_history(symbol = "BTCUSDT", interval = "1m", start = str(two_hours_before))
df

                         Open      High       Low     Close    Volume
Date
2022-02-02 05:05:00  38479.98  38498.92  38478.32  38480.01   5.01134
2022-02-02 05:06:00  38480.01  38483.59  38469.34  38479.19   4.11839
2022-02-02 05:07:00  38479.19  38496.11  38475.96  38496.11   2.98958
2022-02-02 05:08:00  38496.11  38519.78  38480.99  38503.99  11.48089
2022-02-02 05:09:00  38503.99  38504.01  38484.07  38488.83   7.17161
...                       ...       ...       ...       ...       ...
2022-02-02 07:05:00  38232.56  38272.48  38221.62  38272.47   8.46407
2022-02-02 07:06:00  38272.48  38290.18  38266.92  38270.65  10.46535
2022-02-02 07:07:00  38270.64  38277.86  38221.65  38244.07  14.51764
2022-02-02 07:08:00  38244.08  38253.61  38240.85  38250.00   5.12844
2022-02-02 07:09:00  38250.01  38253.89  38237.17  38242.34   5.36832

[125 rows x 5 columns]